<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name:</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">
  <br/>
  <br/>

  <label>Titles:</label>
  <% @titles.each do |title| %>
  <label><%= title.name %></label>
  <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>"<%='checked' if @figure.titles.include?(title) %>>
  <% end %>

  <label>Add New Title:</label>
  <input type="text" name="title[name]" id="new_title">

  <br/>
  <br/>

  <label>Landmarks:</label>
  <% @landmarks.each do |landmark| %>
  <label><%= landmark.name %></label>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>"<%='checked' if @figure.landmarks.include?(landmark) %>>
  <% end %>

  <label>Add New Landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark">

  <br/>
  <br/>

  <input type="submit" name="submit" value="Edit Figure">
</form>