<h1>Create New Figure</h1>
<form action="/figures" method="post">
  <label for="figure_name">Figure Name:</label>
  <input type="text" id="figure_name" name="figure[name]">
  <br/>
  <br/>

  <label for="titles">Title</label>
  <% @titles.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
    <% end %>

    <label><h4>or, Create New Title: </h4></label>
    <label>Title:</label>
    <input type="text" id="new_title" name="title[name]">
    <br/>
    <br/>

    <label for="landmarks">Landmarks</label>
    <% @landmarks.each do |landmark| %>
      <label for="landmark_name"><%= landmark.name %></label>
      <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <% end %>

    <label><h4>or, Create New Landmark: </h4></label>
    <label>Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">
    <br/>
    <label>Year Completed:</label>
    <input type="text" id="new_landmark_year_completed" name="landmark[year_completed]">
    <br/>
    <br/>

    <input type="submit" name="submit" value="Create New Figure">
</form>